<div class="card m-3">
    <h2 class="card-header" style="text-align: center;">Registration</h2>
    <div class="card-body">
        <form [formGroup]="registerForm">
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" formControlName="firstName" class="form-control">
                <p class="error-text" *ngIf="submitted && registerForm.controls?.firstName?.errors?.required">*Firstname is Required
                </p>
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" formControlName="lastName" class="form-control">
                <p class="error-text" *ngIf="submitted && registerForm.controls?.lastName?.errors?.required">*Lastname is Required
                </p>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label for="file">Choose File</label>
                    <input type="file" (change)="fileChanged($event)" formControlName="picture">
                    <p class="error-text" *ngIf="submitted && registerForm.controls?.picture?.errors?.required">*Profile picture is Required

                </div>
                <hr>
                <div class="form-group col">

                    <label>Are You?:</label>&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" formControlName="usertype" value="user">User &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" formControlName="usertype" value="admin">Admin
                    <p class="error-text" *ngIf="submitted && registerForm.controls?.usertype?.errors?.required">*User type is Required
                    </p>

                </div>
            </div>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" formControlName="username" class="form-control">
                <p class="error-text" *ngIf="submitted && registerForm.controls?.username?.errors?.required">*Username is Required
                </p>
            </div>
            <div class="form-group">
                <label for="username">Email</label>
                <input type="text" formControlName="email" class="form-control">
                <p class="error-text" *ngIf="submitted && registerForm.controls?.email?.errors?.required">*Email is Required
                </p>
                <p class="error-text" *ngIf="submitted && registerForm.controls?.email?.errors?.email">*Email must be an email</p>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input [type]="show ? 'text' : 'password'" formControlName="password" class="form-control">
                <a *ngIf="show1" class="passwordset" (click)="password()">Show</a>
                <a *ngIf="!show1" class="passwordset" (click)="password1()">Hide</a>
                <p class="error-text" *ngIf="submitted && registerForm.controls?.password?.errors?.required">*Password is Required
                </p>
                <p class="error-text" *ngIf="submitted && registerForm.controls?.password?.errors?.minlength">*Password must be 6 character</p>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" (click)="onSubmit(registerForm.value)">
            Register
        </button>
                <a routerLink="/login" class="btn btn-link">Login</a>
            </div>
        </form>
    </div>
</div>