.mat-form-field {
    margin-left: 296px;
    text-align: center;
    font-size: 14px;
    width: 50%;
}

table {
    width: 100%;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 41px;
    border-radius: 50%;
}

mat-cell>span.ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}